<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br/>

                    <p class="minimized-line-height dark">
						Previs for Film & TV
						<p class="minimized-line-height">
							<a href="https://vimeo.com/390889009" class="text-decoration-none">Call of the Wild - Fox Studios</a><br/>
							<a href="https://www.youtube.com/watch?v=avz06PDqDbM&list=PLLcxd4soKLM4R4T9OCAMqgZomfemFjsH1&index=2" class="text-decoration-none">Mission Impossible 7 - Paramount</a><br/>
							<a href="https://www.youtube.com/watch?v=gV_0pYoCssc" class="text-decoration-none">Pinocchio - Disney</a><br/>
							<a href="https://vimeo.com/881051749" class="text-decoration-none">Hunger Games - The Ballad of Songbirds & Snakes</a><br/>
							<a href="https://vimeo.com/819203283" class="text-decoration-none">Avastars</a><br/>
							<a href="https://vimeo.com/1018017565" class="text-decoration-none">ESPN - SportsCenter</a><br/>
						</p>
					</p>
					<p class="minimized-line-height dark">Game Teasers & Trailers
						<p class="minimized-line-height">
							<a href="https://vimeo.com/354754812" class="text-decoration-none">Borderlands 3 Trailer - Gearbox</a><br/>
							<a href="https://vimeo.com/440445566" class="text-decoration-none">Outer Worlds Release Trailer - Obsidian</a><br/>
							<a href="https://www.youtube.com/watch?v=eN448PFGtX0" class="text-decoration-none">Bloodlines 2 Teaser - Paradox</a><br/>
							<a href="https://vimeo.com/618452690/74149246ee" class="text-decoration-none">New World Release Trailer</a><br/>
							<a href="https://vimeo.com/581264396" class="text-decoration-none">Tiny Tina's Wonderlands Trailer - Gearbox</a><br/>
							<a href="https://vimeo.com/423766448" class="text-decoration-none">KSP2 Trailer - Private Division</a><br/>
							<a href="https://vimeo.com/846798752" class="text-decoration-none">Remnant 2 Trailer - Gearbox</a><br/>
							<a href ="#">Fortnite Trailers</a><br/>
						</p>
					</p>

                    <br/><br/>
                    <div class="container columns is-centered">
                        <div>
                            <a href="https://david-miller.life/pages/david-miller-resume.doc" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" download>Resume</a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Devblog</a>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>