<footer id="footer">
    <!--Footer Button-->
    <br/>
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" onclick="window.scroll(0,0)">BACK TO TOP</a>
    </div>

    <div class="has-background-black has-text-centered has-text-white footer" id="credits">
        <a href="https://www.linkedin.com/in/david-miller-86792345/" class="icon"><img src="https://david-miller.life/images/linkedin.png" alt="Linkedin" /></a>
        <a href="https://github.com/Simsaladoo" class="icon"><img src="https://david-miller.life/images/github-logo.png" alt="GitHub" /></a>
        <a href="https://www.youtube.com/@Simsaladoo" class="icon"><img src="https://david-miller.life/images/tube.png" alt="YouTube" /></a>
    </div>
</footer>