
<!--Main Section-->
<section class="hero is-fullheight" id="project">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="section">
                <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Monthly AI Arena Testing</p>
            </div>
            <p>
                Our pipeline automation compiles all monthly code merges out across multiple engine versions, and runs AI fight tests for debugging and review.  You never know what issues and bugs may pop up but continous integration allows for us all to see the AI progress over time.<br/>
            </p><br/>
            <div class="container">
                <div>
                    <a href="{{site.url}}{{site.baseurl}}/devblog"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Devblog</a>
                    </a>
                </div>
                <br/>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=h_gSAaiN9h4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <br/><br/>

            <div class="columns pagecrest">

            </div>

            <div class="section">
                <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">About the Game</p>
            </div>
            <p>
                Learn more about the mechanics, environments, gameplay and lore using the cards below or via the main menu.
            </p><br/>
            <div class="columns is-centered is-multiline is-mobile">
              {% for project in site.data.projects %}
                <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
                  id="project-card">
                  <a href="{{project.link}}" target="_blank">
                  <div class="has-background-black card">
                    <figure class="image is-3by1" style="background-image: url({{project.image}});">
                    </figure>
                    <div class="card-content">
                      <h1 class="title has-text-white is-size-4">{{ project.name }}</h1>
                      <p class="has-text-white has-text-weight-light content">{{ project.description | truncate: 80}}</p>
                    </div>
                  </div>
                  </a>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
