<section class="hero is-fullheight has-text-centered image1" id="hero">
  <video
        muted
        autoplay
        loop
        playsinline
        poster="https://almerra.com/assets/images/LS_0040.0016.jpeg"
        src="https://almerra.com/assets/videos/Website.mp4"
        >
    </video>
  <div class="hero-body">
    <div class="container">
      <div class="mainlogowrapper">
        <div class="mainlogo"></div>
      </div>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Learn More</a>
      </a>
    </div>
  </div>
</section>