<section class="hero is-fullheight has-text-centered image1" id="hero">
    <video
        muted
        autoplay
        loop
        playsinline
        poster="https://david-miller.life/images/LS_Film_Interior.0000.jpeg"
        src="https://david-miller.life/videos/LS_Film_Interior_720p.mp4"
        >
    </video>
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>
    </div>
  </div>
</section>