---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body class="body-sim">
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body hero-sim">
      <div class="container">
        <iframe frameborder="0" src="https://itch.io/embed/4719715?border_width=0&amp;bg_color=2f2f2f&amp;fg_color=eeeeee&amp;link_color=fa5c5c&amp;border_color=323232" width="550" height="165"><a href="https://simsaladoo.itch.io/winds-of-almerra">Winds of Almerra by Simsaladoo</a></iframe>
        <hr class="has-background-black">

        <div class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile">
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>

</html>